[Desktop Entry]
Type=Application
Name=zabterm
GenericName=Monitoring
Comment=Terminal UI for Zabbix
Exec=zabterm
Terminal=true
Icon=zabterm
Categories=System;Monitor;
Keywords=zabbix;monitoring;problems;hosts;
